<div class="main-container">
  <ion-searchbar
    placeholder="Search Rider Name or AMA #"
    [(ngModel)]="searchQuery"
    (keydown.enter)="getRiders(searchQuery)"
  ></ion-searchbar>

  <ion-card class="search-results" *ngIf="!riderSelected">
    <ion-accordion-group *ngIf="riders.length > 0">
      <ion-accordion [value]="r" *ngFor="let r of riders">
        <ion-item slot="header" color="light">
          <ion-label>{{ r.name }} - {{ r.hometown }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p><strong>Name: </strong> {{ r.name }}</p>
          <p><strong>Ama #: </strong> {{ r.ama_num }}</p>
          <p><strong>City: </strong> {{ r.city }}</p>
          <p><strong>State: </strong> {{ r.state }}</p>
          <p>
            <ion-button
              color="light"
              shape="round"
              size="small"
              (click)="getRiderProfile(r.slug)"
              >View Profile</ion-button
            >
          </p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

  <ion-card *ngIf="riderSelected">
    <ion-header
      >{{ riderProfile?.firstName }} {{ riderProfile?.lastName }}</ion-header
    >
    <p><strong>AMA #: </strong>{{ riderProfile?.ama_num }}</p>
    <p><strong>Birthdate: </strong>{{ riderProfile?.birthdate }}</p>
    <p><strong>City: </strong>{{ riderProfile?.city }}</p>
    <p><strong>State: </strong>{{ riderProfile?.state }}</p>
  </ion-card>
  <ion-card class="race-results" *ngIf="riderSelected">
    <ion-accordion-group>
      <ion-accordion
        [value]="race"
        *ngFor="let race of riderProfile?.raceResults"
      >
        <ion-item slot="header" color="light">
          <!--Add Event Name Here too, will have to call the service to get it -->
          <ion-label
            ><strong
              >{{ race.className }} - {{ race.overallFinish }}</strong
            ></ion-label
          >
        </ion-item>
        <div class="ion-padding" slot="content">
          <p *ngIf="race.moto1 != '0'">
            <strong>Moto 1: </strong>{{ race.moto1 }}
          </p>
          <p *ngIf="race.moto2 != '0'">
            <strong>Moto 2: </strong>{{ race.moto2 }}
          </p>
          <p *ngIf="race.moto3 != '0'">
            <strong>Moto 3: </strong>{{ race.moto3 }}
          </p>
          <p *ngIf="race.points"><strong>Points: </strong>{{ race.points }}</p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</div>
